<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Chat: Omeclone</title>
</head>

<body class="chat-body">
  <div class="ui grid">
    <div class="row outer">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div class="ui raised segment header centered">
          <i class="user icon"></i>
          Username
        </div>
        <div class="ui top attatched centered white-text">
          08:56 am
        </div>
        <div class="ui vertical grid" id="msgs">
          <div class="sixteen column row"></div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
  <div class="ui raised segment sixteen column row full bottom">
    <div class="ui action icon input full">
      <button class="ui red right labeled icon button" id="endbtn">
        <i class="ban icon"></i>
        <span class="txt">End</span>
      </button>
      <button class="ui teal icon button hide" id="newbtn">
        <span>New</span>
      </button>
      <input type="text" placeholder="Enter the message here." id="message">
      <button class="ui teal labeled icon button" id="sendbtn">
        <i class="fitted send icon"></i>
        <span class="txt">Send</span>
      </button>
    </div>
  </div>
</body>
<script src = "js/socket.io.js"></script>
<!-- <script src = "../bower_components/cryptico/cryptico.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js"></script>
<script src = "js/end.js"></script>
<script src = "js/chat.js"></script>
</html>
