<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Chat: Omeclone</title>
</head>

<body class="chat-body">
  <div class="ui grid">
    <div class="row">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div class="ui raised segment header centered">
          <i class="user icon"></i>
          Username
        </div>
        <div class="ui top attatched centered white-text">
          08:56 am
        </div>
        <div class="ui vertical grid">
          <div class="sixteen column row"></div>
          <div class="one column row">
            <div class="right floated purple seven wide column">Hi</div>
          </div>
          <div class="one column row">
            <div class="left floated pink seven wide column">Hello!</div>
          </div>
          <div class="one column row">
            <div class="right floated purple seven wide column">What's up babe?</div>
          </div>
          <div class="one column row">
            <div class="left floated pink seven wide column">All good! You say?</div>
          </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
  <div class="ui raised segment sixteen column row full bottom">
    <div class="ui action icon input full">
      <button class="ui red right labeled icon button" id="endbtn">
        <i class="ban icon"></i>
        End
      </button>
      <input type="text" placeholder="Enter the message here." id="message">
      <button class="ui teal labeled icon button" id="sendbtn">
        <i class="send icon"></i>
        Send
      </button>
    </div>
  </div>
</body>
<script src = "socket.io-client/dist/socket.io.js"></script>
<script src = "js/chat.js"></script>
</html>
