<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Homepage:Omeclone</title>
</head>

<body>
    <div class="ui menu">
        <div class="item left floated">
            <div class="ui header">
                <h1 class="sty">OMECLONE</h1>
            </div>
        </div>
        <div class="item right floated">
            <h2 class="sty user_text">{{ noOfUsers }} online</h2>
        </div>
    </div>
    <div class="ui grid divided">
        <div class="eight wide computer eight wide tablet sixteen wide column center aligned">
            <h1>TERMS OF USE</h1>
            <p class="sty add">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, totam laborum quam eius amet commodi exercitationem
                at necessitatibus dolore, assumenda quibusdam perferendis excepturi dolor eveniet sapiente non voluptatibus
                quisquam voluptatum eum inventore omnis architecto quidem! Libero, eveniet commodi! Explicabo reiciendis
                cumque maxime veritatis magni ab illum dolor praesentium doloribus perferendis aliquid dolorum eos, nulla
                veniam et omnis maiores quis, esse ratione. Blanditiis fugit, tenetur ipsa ex sed debitis architecto eaque
                voluptatum id, qui quos neque ullam odit earum ab similique ea error illum aut molestiae amet? A voluptate
                iusto ea sapiente omnis error cupiditate, totam, eveniet, voluptates voluptas ipsum dolore!</p>
            <p class="sty add">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error cupiditate optio illum laborum voluptatum reiciendis
                consequatur laboriosam maxime aspernatur deserunt ullam explicabo at veniam vitae numquam autem quis dolores,
                ad, nihil amet eaque voluptatibus? Ea officia assumenda dolorum, vel iste nostrum a unde beatae qui magni
                itaque maxime, accusamus tempore.</p>
        </div>
        <div class="eight wide computer eight wide tablet sixteen wide mobile column center aligned">
            <a href="/chat">
                <div class="ui button animated fade massive green inverted top_clear">
                    <div class="visible content">
                        <span class="sty">Chat with Stranger</span>
                    </div>
                    <div class="hidden content">
                        <span class="sty">TAKE ME THERE</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="sty">WE HOPE YOU HAVE A GOOD TIME HERE</h1>
            <br>
        </div>
        <div class="sixteen wide column">
            <h3 class="sty">MADE WITH ❣ AND ☕</h3>
            <h2 class="sty">OMECLONE</h2>
        </div>
    </div>
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/semantic/dist/semantic.min.js"></script>

</html>