<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Omeclone: Chat with Strangers" />
    <meta property="og:description" content="Omeclone is a platform to meet strangers and make new friends." />
    <meta property="og:image:secure_url" content="/images/meta_image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Homepage:Omeclone</title>
</head>

<body>
    <div class="ui menu">
        <div class="item left floated">
            <div class="ui header">
                <h1 class="sty">OMECLONE</h1>
            </div>
        </div>
        <div class="item right floated">
            <h2 class="sty user_text">{{ noOfUsers }} online</h2>
        </div>
    </div>
    <div class="ui grid divided">
        <div class="eight wide computer eight wide tablet sixteen wide mobile column center aligned top_clear">
            <p class="sty add">Omeclone lets you connect with a stranger at random for a one on one chat. Your chats are end to end encrypted and hence you can put forward your ideas freely. Talk to strangers and have fun.</p>
            <p class="sty add">For any feedback, you can click
                <a href="https://github.com/wdlsvnit/omeclone/issues" target="_blank" class="link">here</a> and submit the issue encountered. We promise to get back to you soon.</p>
        </div>
        <div class="eight wide computer eight wide tablet sixteen wide mobile column center aligned">
            <div class="ui segment">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <i class="hand point up icon"></i>
                            </div>
                            <div class="description">Click on the “CHAT WITH STRANGER” button on your device screen.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <i class="comments icon"></i>
                            </div>
                            <div class="description">
                                You are taken to the chat page where the app connects you to a stranger at random.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <i class="window close icon"></i>
                            </div>
                            <div class="description">
                                To end the chat click on the end chat button. You will be alerted by a modal for your affirmation.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <i class="redo icon"></i>
                            </div>
                            <div class="description">
                                To find a new partner click on the new button and relive the experience once more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr">
    <div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="row">
            <div class="five wide computer five wide tablet three wide mobile column"></div>
            <div class="six wide computer six wide tablet ten wide mobile column center aligned">
                <div class="ui hidden divider"></div>
                <div class="input">
                    <input type="checkbox" id="squaredOne">
                    <span class="agree_text">I agree to all the
                        <a href="https://docs.google.com/document/d/18MKqMDOKq3737K9aKYOXEZWYU9ZCy_3RPMWEhkM8yD8" class="terms">Terms and Conditions</a>
                    </span>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui button animated fade massive blue inverted disabled" id="termsAndCo">
                    <div class="visible content">
                        <span class="sty">Chat with Stranger</span>
                    </div>
                    <div class="hidden content">
                        <span class="sty">TAKE ME THERE</span>
                    </div>
                </div>
            </div>
            <div class="five wide computer five wide tablet three wide mobile column"></div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>


    <div class="sixteen wide column" id="footer">
        <div class="ui secondary segment">
            <div class="wrapper">
                <div class="item">
                    <a href="https://webdevlabs.in" class="ui link">(c) WebDevLabs 2018</a>
                </div>
                <div class="item end">
                    <a href="https://github.com/wdlsvnit/Omeclone" class="terms">
                        <div class="item links">Fork us on
                            <i class="github icon"></i>GitHub</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/js/indexPage.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/semantic/dist/semantic.min.js"></script>

</html>
