.chat-body {
  background-color: #ffffff;
}

.toast-top-center {
  top: 60px;
}

.centered {
  text-align: center;
}

.terms {
  color: rgb(58, 58, 58);
  text-decoration: underline;
}

.terms:hover {
  color: black;
  text-decoration: none;
}

.msg {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.agree {
  font-size: 40px;
  font-weight: 300;
}

.white-text {
  color: #ffffff;
}

.full {
  width: 100%;
}

.ui.bottom {
  position: fixed;
  bottom: 0;
  margin: 0px;
  border: 0px;
}

.semi {
  width: 87.5%;
  z-index: 3;
}

.ui.top {
  position: fixed;
}

#msgs {
  margin: 40px 0px;
}

#endbtn {
  margin-right: 5px;
}

.right-float {
  position: absolute;
  right: 0px;
}

.hide {
  display: none !important;
}

.sty {
  text-align: center;
  text-shadow: 0 0 10px whitesmoke;
}

#msgs .msg a {
  color:#ffffff;
  text-decoration: underline;
}

.foot {
  margin-top: -10px;
}

.add {
  margin: 40px;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 0;
  color: rgb(58, 58, 58);
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  flex: 1;
}

.end {
  justify-content: flex-end;
  display: flex;
  text-align: right;
  flex-basis: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.add2 {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 0;
  color: rgb(58, 58, 58);
}

.content .header {
  font-size: 1.5em;
}

.top_clear {
  margin-top: 30px;
}

.content .icon {
  text-align: right;
}

.ui.mini.modal {
  position: fixed;
  z-index: 9999999;
  top: 20%;
}

#msgs .one .right,
#msgs .one .left {
  position: relative;
  height: auto;
  align-self: auto;
}

.times_css {
  /*  Time is hidden out temporarily*/
  display: none;
  position: absolute;
  right: 5px;
  font-size: 0.7em;
  bottom: 5px;
  color: #ffffff;
}

.msg_div {
  border-radius: 25px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

#squareOne {
  height: 28px;
  width: 28px;
}

.description {
  margin-top: 10px;
}

.item .header {
  text-align: center;
}

.agree_text {
  position: relative;
  left: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.hr {
  margin-top: 15px;
  border: .2px solid rgb(219, 219, 219);
}

.link {
  color: rgb(58, 58, 58);
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .txt {
    display: none;
  }
  #sendbtn,
  #endbtn {
    padding: 18px !important;
  }
  .ui.grid {
    margin: 0px;
  }
  .outer {
    padding-top: 0px !important;
  }
  .fourteen,
  .one {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .top_clear {
    top: 0vh;
  }
  .add {
    margin: 20px;
    padding: 10px;
  }
  .user_text {
    font-size: 1em;
  }
  #msgs .one .right,
  #msgs .one .left {
    position: relative;
    height: auto;
    align-self: auto
  }
  .ui.mini.modal {
    position: fixed;
    z-index: 9999999;
    top: 20%;
    right: 10px;
  }
  .agree_text {
    position: relative;
    left: 10px;
    text-align: center;
  }
}
