.chat-body {
  background-color: #ffffff;
}

.toast-top-center{
  top: 60px;
}

.centered {
  text-align: center;
}

.msg {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.white-text {
  color: #ffffff;
}

.full {
  width: 100%;
}

.ui.bottom {
  position: fixed;
  bottom: 0;
  margin: 0px;
  border: 0px;
}

.semi {
  width: 87.5%;
  z-index: 3;
}

.ui.top {
  position: fixed;
}

#msgs {
  margin: 40px 0px;
}

#endbtn {
  margin-right: 5px;
}

.right-float{
  position: absolute;
  right: 0px;
}

.hide {
  display: none !important;
}

.sty {
  text-align: center;
  text-shadow: 0 0 10px whitesmoke;
}

.add {
  margin: 40px;
  padding: 10px;
}

.top_clear {
  top: 30vh;
}

.ui.mini.modal {
  position: fixed;
  z-index: 9999999;
  top:20%;
}

#msgs .one .right,
#msgs .one .left {
  position: relative;
  height: auto;
  align-self: auto;
}

.times_css {
  /*  Time is hidden out temporarily*/
  display: none;
  position: absolute;
  right: 5px;
  font-size: 0.7em;
  bottom: 5px;
  color: #ffffff;
}

.msg_div {
  border-radius: 25px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .txt {
    display: none;
  }
  #sendbtn,
  #endbtn {
    padding: 18px !important;
  }
  .ui.grid {
    margin: 0px;
  }
  .outer {
    padding-top: 0px !important;
  }
  .fourteen,
  .one {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .top_clear {
    top: 0vh;
  }
  .add {
    margin: 20px;
    padding: 10px;
  }
  .user_text {
    font-size: 1em;
  }
  #msgs .one .right,
  #msgs .one .left {
    position: relative;
    height: auto;
    align-self: auto
  }
  .ui.mini.modal {
    position: fixed;
    z-index: 9999999;
    top:20%;
    right:10px;
  }
}
